*{
    font-family: 'Be Vietnam Pro', sans-serif;
}
/*Container*/
.container{
    width: 392px;
    height: 246px;
    margin: 10% auto;
    background-color: bisque;
}
.container  h1{
    width: 175px;
    margin: auto;
}
#count-el{
    width: 21px;
    margin: 9% auto;
    font-size: 46px;
}
/*BUTTON*/

.controlBtn{
    margin: 20% auto;
}
button{
    border: none;
    color: white;
    cursor: pointer;
    width: 120px;
    height: 42px;
    padding: 8px;
    margin-right: 8px;
}

button:hover{
    opacity: 80%;
}
#increment-btn{
    background-color: #5F9EA0;
}

#decrement-btn{
    background-color: #DC143C;
}

#reset-btn{
    background-color: #5caf5b;
}

/*ALERT BTN*/
#alert{
    color: #f0f8ff;
    background-color: #f44336;
    padding: 20px;
    width: 200px;
    position: relative;
    margin: -249px 0 0 78px;
    display: none;
}

#closebtn{
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

}

#closebtn:hover{
    color: #f0f8ff;
}

#removeAlert{
    display: none;
}